
<aside>
  <h2>Old Format</h2>
  <BasicDropdown as |dd|>
    <dd.trigger>Click me</dd.trigger>
    <dd.content>Hello world</dd.content>
  </BasicDropdown>
</aside>

<aside>
  <h2>New Format</h2>
  <BasicDropdown as |dd|>
    <dd.Trigger>Click me</dd.Trigger>
    <dd.Content>Hello world</dd.Content>
  </BasicDropdown>
</aside>